<!----Navbar Section--->
<nav class="navbar">
  <div class="navbar__container">
    <a href="" id="navbar__logo">TEST WEBSITE</a>
    <div
      (click)="active = !active"
      class="navbar__toggle"
      id="mobile-menu"
      [ngClass]="{
        'is-active': active
      }"
    >
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul
      [ngClass]="{
        active: active
      }"
      class="navbar__menu"
    >
      <li class="navbar__item">
        <a href="/" class="navbar__links"> Home </a>
      </li>
      <li class="navbar__item">
        <a href="https://www.meta.com/de/" class="navbar__links"> VR </a>
      </li>
      <li class="navbar__item">
        <a
          href="https://www.konsolenkost.de/aktuelle-konsolen/"
          class="navbar__links"
        >
          Konsolen
        </a>
      </li>
      <li class="navbar__btn">
        <a href="/" class="button"> Registrieren </a>
      </li>
    </ul>
  </div>
</nav>
<!--Hero Section-->
<div class="main">
  <div class="main__container">
    <div class="main__contet">
      <h1>KAUFE DEINE LIEBLINGS SPIELE:</h1>
      <h2>PLAYSTATION, XBOX</h2>
      <p>Erstellt von Maxim Zent</p>
      <button class="main__btn"><a href="/">Anmelden</a></button>
    </div>
    <div class="main__img--container">
      <img
        src="/assets/images/undraw_game_world_re_e44j.svg"
        alt="pic"
        id="main__img"
      />
    </div>
  </div>
</div>

<!-- Services Section -->
<div class="services">
  <h1>Wähle deine Konsole aus</h1>
  <div class="services__container">
    <div class="services__card">
      <h2>Playstation Spiele</h2>
      <li>
        <a
          href="https://www.playstation.com/de-de/ps5/games/?smcid=pdc%3Ade-de%3Aprimary%20nav%3Amsg-games%3Aps5"
        >
          <button>Spiele bestellen</button>
        </a>
      </li>
    </div>
    <div class="services__card">
      <h2>Xbox Spiele</h2>
      <li>
        <a href="https://www.xbox.com/de-DE/games">
          <button>Spiele bestellen</button>
        </a>
      </li>
    </div>
  </div>
</div>

<!-- Footer -->

<div class="footer__container">
  <div class="footer__links">
    <div class="footer__links--wrapper">
      <div class="footer__links--items">
        <h2>Meine Soziale Medien</h2>
        <li>
          <a href="https://www.youtube.com/@gunplay209">YouTube</a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@gunplay209">TikTok </a>
        </li>
        <li>
          <a href="https://www.twitch.tv/gunplay209">Twitch</a>
        </li>
      </div>
    </div>
  </div>
</div>
